@model Tag

<div class="panel-body">
    <div id="Tags">
        <div class="row">
            <div class="col-xs-10">
            @using (Ajax.BeginForm("Tags", "Home", new AjaxOptions { AllowCache = false, HttpMethod = "Post", LoadingElementDuration = 500, LoadingElementId = "HandleDiv", OnFailure = "Cooperation", UpdateTargetId = "Tags" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <input type="text" name="searchStr" placeholder="请输入标签名进行搜索..." required="" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-info" type="submit"><span class="fa fa-search"></span></button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-outline btn-info" data-toggle="modal" data-target="#myModal1">添加标签</button>
                <div class="modal inmodal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">添加标签</h4>
                            </div>
                            @using (Html.BeginForm("AddTag", "Home", FormMethod.Post, new { role = "form" }))
                            {
                                <div class="modal-body">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name)
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Url)
                                        @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-outline btn-info">创建</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        @Html.Partial("_PartialTagList")

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function AddClick(id) {
            $.post("/Home/AddClick/" + id);
        }

        function Cooperation() {
            alert("操作失败!请重试.");
        }

        function DeleteTagSuccess() {
            alert("删除成功!");
        }
    </script>
}
